.table-row {
    border: 1px solid black;
    border-collapse: collapse
}

.add-pokemon-form {
    margin-left: 56px;
    margin-top: 24px;
}
.total-form{
    border: 1px gray solid;
    background-color: bisque;
    border-collapse: collapse;
    width: 512px;
    height: fit-content;
}
.add-pokemon-input{
    width: 200px;
   
}
.extra-rows{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.notes-box{
    width: 256px;
    height: 256px;
    white-space: pre-wrap;
    margin-bottom: 16px;
}

.everything {
    display: flex
}